* {
  margin: 0;
  padding: 0;
}

.hero {
  background: url("./images/diff-weathers.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading {
  text-shadow: 2px 2px 8px black;
}

.card-body {
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.error {
  display: none;
}

.reference {
  color: white;
  text-decoration: underline;
}

footer {
  text-align: right;
}
